<header style="background-color:rgb(255, 255, 255); border-bottom: 3px solid #000;">
	<!-- Top bar with contact info and social media -->
	<!-- Top bar -->
		<div
		class="top-bar"> <!-- Contact info -->
		<div class="contact-info">
			<a href="tel:0385774595" aria-label="Appeler le 06 24 66 05 38">
				<i class="fas fa-phone"></i>
				<span>Appeler 06 24 66 05 38</span>
			</a>
			<a href="mailto:gwadacardiscount.contact@gmail.com" aria-label="Envoyer un email">
				<i class="fas fa-envelope"></i>
				<span>Envoyer un email</span>
			</a>
		</div>
		<!-- Social media -->
		<div class="social-media">

			<a href="https://www.instagram.com/gwadacardiscount?igsh=MXUwb3RxMTgxaG85" target="_blank" aria-label="Suivez-nous sur Instagram">
				<i class="fab fa-instagram"></i>
				<span class="visually-hidden">Suivez-nous sur Instagram</span>
			</a>
		</div>
	</div>

	<!-- Logo -->
	<div class="logo">
		<a href="{{ path('app_post') }}">
			<img src="{{ asset('divers/images/logo.png') }}" alt="Logo" loading="lazy">
		</a>
	</div>

	<!-- Navigation bar -->
	<nav class="navigation" style="text-align: center; background-color: #003a4b; padding: 10px;">
		<a href="#annonces" style=" text-decoration: none; margin: 0 20px; font-weight: bold;">Annonces</a>
		<a href="#contact" style=" text-decoration: none; margin: 0 20px; font-weight: bold;">Contact</a>
	</nav>
</header>
<script type="text/javascript">
    tarteaucitron.services.instagram = {
        "key": "instagram",
        "type": "social",
        "name": "Instagram",
        "needConsent": true,
        "uri": "https://instagram.com",
        "js": function () {
            tarteaucitron.fallback(['instagram-container'], function (x) {
                var frame = document.createElement('iframe');
                frame.src = 'https://www.instagram.com/embed.js';
                frame.width = "600";
                frame.height = "400";
                x.appendChild(frame);
            });
        },
        "fallback": function () {
            var id = 'instagram-container';
            document.getElementById(id).innerHTML = "Instagram contenu bloqué. <a href='#' onclick='tarteaucitron.userInterface.openPanel(); return false;'>Accepter les cookies ?</a>";
        }
    };
</script>

